.contact-center{
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.iconList{
    list-style: none;
    display: flex;
    align-items: center;
    width: 50vh;
    height: 10vh;
    padding: 0;
    margin-top: 20px;
    justify-content: space-around;
}

.iconFont{
    font-size: 40px;
    border-radius: 10%;
    padding: 10px;
}